html {
		box-sizing: border-box; /* il comportamento di default è content-box, con border-box, larghezza e altezza includono anche il padding e i bordi, rendendo più intutivo il calcolo delle dimensioni */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    max-width: 100%; /* Rende l'immagine responsive */
    height: auto; /* Mantiene le proporzioni */
}

.contenitore {
	max-width: 1100px; /* o quello che volete */
	margin: 0 auto; /* per centrare quel contenitore nella pagina */
}

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.crimson-pro-<uniquifier> {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.hero {
  display: block;
  margin: auto;
  max-width: 50%;
  padding: 48px;
}

.container_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  max-width: 100%;
  grid-template-columns: 1fr;
  max width: 1100px;
}

.container_left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  max-width: 100%;
}

.h1_right {
  font-family: "Crimson Pro", serif;
  font-weight: 1000;
  font-style: normal;
  color: #0008FF;
  font-size: 40px;
  padding-left: 64px;
  max-width: 100%;
}

.h1_left {
  font-family: "Crimson Pro", serif;
  font-weight: 1000;
  font-style: normal;
  color: #0008FF;
  font-size: 40px;
  padding-right: 64px;
  max-width: 100%;
}

.p_right {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding-left: 64px;
    padding-top: 16px;
    line-height: 25px;
    padding-left: 64px;
    max-width: 100%;
}

.p_left {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
    padding-right: 64px;
    padding-top: 16px;
    max-width: 100%;
}

.foto1 {
  width: 65%;
  display: block; 
  max-width: 100%;
  height: auto; 
}

.foto2 {
  width: 30%;
  display: block; 
  max-width: 100%;
  height: auto; 
}

.foto3 {
  width: 30%;
  display: block; 
  max-width: 100%;
  height: auto; 
}

.footer {
  margin: auto;
  max-width: 40%;
  padding-bottom: 64px;
  padding-top: 72px;
}

@media screen and (max-width:600px) {
  .container_right, .container_left {
    grid-template-columns: 1fr;
    max-width: 100%;
    flex-direction: column;
  }
  .foto1, .foto2, .foto3 {
    display: block;
    width: 100%;
  }
}
{
  
}

